# Copy to $DOTFILES/shell/.config/shell as .secrets
# ==================================================================================================

# shellcheck shell=bash

export NODE_AUTH_TOKEN=

export SONAR_TOKEN=